
      <div class="row">
        <div class="col-md-4">
          <div style="height:100px"><balance-component></balance-component></div>
          <div style="height:200px"><order-component></order-component></div>
        </div>
        <div class="col-md-8" style="height:800px"><tradingview></tradingview></div>
      </div>

  

<!-- <div #ContainersPlaceOrderModule class="main-exchange">
        <div #ContainersBalanceContainer class="balance">

        </div>
        <div class="place-order">

        </div> 
        <div class="graph">
            <div>
           
            </div>
        </div>
</div> -->


