<div #BalanceContainer class="balance">
    <div class="available-header">
        <div class="available-header1">
            <p class="Text__TableTitle-gocq1w-0 hSKDxo">Available balances</p>
        </div>
        <div class="styles__SwitchContainer-sc-1atzptl-1 hkFsvg">
            <span width="16px" class="styles__Container-sc-1554909-0 jtsyiW styles__IconBulb-sc-1atzptl-0 jYhxjK">
                <svg width="16px" height="16px" class="styles__Svg-sc-1554909-1 iTLvyN">
                    <use xlink:href="#icon-bulb">

                    </use>
                </svg>
            </span>
        </div>
    </div>
    <div class="style__Balance-sc-5npg6k-0 hOhvfQ">
        <div class="style__Label-sc-5npg6k-1 hQXnVJ">
            <span>ZAR</span>
        </div>
        <div class="style__Value-sc-5npg6k-2 gGPrtF">0.00</div>
    </div>
    <div class="style__Balance-sc-5npg6k-0 hOhvfQ">
        <div class="style__Label-sc-5npg6k-1 hQXnVJ">
            <span>USDC</span>
        </div>
        <div class="style__Value-sc-5npg6k-2 gGPrtF">0.0000</div>
    </div>
</div>